.aboutInfo {
  background-image: url("../assets/the-humantra-GD1OKxelNDg-unsplash.jpg");
    background-color:rgb(122, 122, 122);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.aboutTriangleTop {
  width: 100%;
  border-right: 100vw solid transparent;
  border-top: 50vh solid white;
}

.aboutTriangleBottom {
  width: 100%;
  border-right: 100vw solid white;
  border-top: 50vh solid transparent;
}

.aboutTitle {
  font-family: $secondaryFont;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
  padding-top: 30px;
}

.aboutTitle span {
  color: #02a6627e;
  font-family: $primaryFont;
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  display: block;
  z-index: -1;
}

.aboutContent {
  font-family: $primaryFont;
  color: white;
  margin: 50px auto 100px;
}
