.contactTriangleTop {
  border-left: 100vw solid $accent;
  border-top: 50vh solid white;
  outline: none;
}

.contactInfo {
  background-color: $accent;
  position: relative;
}

.contactTitle {
  font-family: $secondaryFont;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
  padding-top: 30px;
}

.contactTitle span {
  color: rgba(59, 59, 59, 0.767);
  font-family: $primaryFont;
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  display: block;
  z-index: -1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  margin-bottom: 20px;
}

.formContainer label {
  color: rgb(59, 59, 59);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.leftContactTriangle {
  width: 50%;
  border-left: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  bottom: 0;
}

.rightContactTriangle {
  width: 50%;
  border-right: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}

.name,
.email,
.message {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.submitButton {
  color: white;
  background-color: rgb(59, 59, 59);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
}

.submitButton:hover,
.submitButton:focus {
  color: rgb(59, 59, 59);
  background-color: white;
}

@media (max-width: 650px) {
  .name,
  .email,
  .message {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .contactTitle span {
    font-size: 6rem;
    top: 13px;
  }
}
