footer {
  margin-top: 30px;
  // height: 100px;
  text-align: center;
  color: rgb(59, 59, 59);
}

.footerTitle {
  text-transform: uppercase;
}

.craftedBy {
  margin-top: 50px;
  background-color:  rgb(112, 107, 107);
  color: white;
  padding: 20px 0;
}

.bgCredit {
  padding-bottom: 10px;
}

.bgCredit,
.bgCredit a {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color:  rgb(112, 107, 107);
}

.bgCredit a:hover,
.bgCredit a:focus {
  border-bottom: 2px solid white;
}

.socialIcons {
  font-size: 3rem;
  color: rgb(59, 59, 59);
  margin: 0 10px;
  & :hover,
    :focus {
    color: $accent;
  }
}

footer span {
  text-transform: uppercase;
}
