footer {
  margin-top: 30px;
  // height: 100px;
  text-align: center;
  color: rgb(59, 59, 59);
}

.footerTitle {
  text-transform: uppercase;
}

.craftedBy {
  margin-top: 50px;
  background-color: rgba(75, 75, 75, 0.8);
  color: white;
  padding: 10px 0;
}

footer a {
  font-size: 3rem;
  color: rgb(59, 59, 59);
  margin: 0 10px;
  & :hover,
    :focus {
    color: $accent;
  }
}

footer span {
  text-transform: uppercase;
}
