footer {
  margin-top: 30px;
  height: 100px;
  text-align: center;
  color: rgb(59, 59, 59);
}

.footerTitle {
  text-transform: uppercase;
}

.craftedBy {
  margin-top: 30px;
}

footer a {
  font-size: 3rem;
  color: rgb(59, 59, 59);
  margin: 0 10px;
}

footer span {
  text-transform: uppercase;
}