header {
  background-image: url("../assets/el-alce-web-y9Cj2fwLl7A-unsplash.jpg");
  background-color:rgb(122, 122, 122);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.heroTriangles {
  display: flex;
}

.leftHeroTriangle {
  width: 50%;
  height: 20vh;
  border-left: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  bottom: 0;
    outline: transparent;
}

.rightHeroTriangle {
  width: 50%;
  height: 20vh;
  border-right: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
    outline: transparent;
}

.iAmA {
  font-family: $secondaryFont;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12%;
}

path {
  stroke-dasharray: 1869;
  stroke-dashoffset: 1869;
  animation: dash 8s linear forwards;
  // stroke: white;
  // stroke-width: 3;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.seeWorkButton {
  color: white;
  text-transform: uppercase;
  background-color: $accent;
  width: 150px;
  padding: 10px 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  // box-shadow: black 5px 5px 10px;
}

@media (max-width: 575px) {
  .jonLogo {
    font-size: 2.2rem;
  }

  .iAmA {
    margin-top: 250px;
  }

}