.navigation {
  font-family: $primaryFont;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.navLinks,
.hamburgerLinks {
  display: flex;
  flex-direction: column;
  & li {
    margin: 0 10px 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
  }
}

.hamburgerLinks {
  display: none;
  position: absolute;
  right: 10%;
  // background-color: rgba(75, 75, 75, 0.8);
  padding: 10px;
}

.hamburgerLinks li {
  margin: 15px 0;
}   

.navLinks a,
.hamburgerLinks a {
  color: white;
  font-size: 2rem;
}

.navLinks a:hover,
.navLinks a:focus,
.hamburgerLinks a:hover,
.hamburgerBars a:focus {
  animation: navSpace 0.6s ease forwards;
}

@keyframes navSpace {
  to {
    letter-spacing: 3px;
  }
}

.jonLogo {
  font-family: $secondaryFont;
  font-weight: 700;
  color: white;
  text-align: center;
}

.hamburgerMenu {
  display: none;
}

.hamburgerBars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.top,
.middle,
.bottom {
  width: 50px;
  height: 7px;
  margin-bottom: 5px;
  background-color:  $accent;
  display: block;
  border-radius: 5px;
}

.topAngle {
  transform-origin: left;
  animation: hamFadeTop .3s ease forwards;
}

.bottomAngle {
  transform-origin: left;
  animation: hamFadeBottom .3s ease forwards;
}

.middleHide {
  visibility: hidden;
  // animation: hamFade .5 ease forwards;
}

.topStraight {
  animation: hamStraight .3s ease forwards;
}

@keyframes hamStraight {
  to {
    transform: rotate(0deg);
  }
}

@keyframes hamFadeTop {
  to {
    transform: rotate(28deg);
  }
}

@keyframes hamFadeBottom {
  to {
    transform: rotate(-28deg);
  }
}






@media (max-width: 575px) {
  .navLinks {
    display: none;
  }

  .hamburgerMenu,
  .open {
    display: block;
  }
}