@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  overflow-x: hidden;
}

body {
  position: relative;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

html {
  overflow-x: hidden;
}

.contentWrapper {
  width: 1300px;
  max-width: 80%;
  margin: 0 auto;
}

.jumpHome {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 90%;
  text-align: right;
  margin-right: 5vw;
}

.jumpHome i {
  color: #02a661;
  background-color: white;
  font-size: 3rem;
  padding: 10px;
  border-radius: 5px;
}

header {
  background-image: url("../assets/el-alce-web-y9Cj2fwLl7A-unsplash.jpg");
  background-color: #7a7a7a;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.heroTriangles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leftHeroTriangle {
  width: 50%;
  height: 20vh;
  border-left: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  bottom: 0;
  outline: transparent;
}

.rightHeroTriangle {
  width: 50%;
  height: 20vh;
  border-right: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  outline: transparent;
}

.iAmA {
  font-family: "Raleway", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 12%;
}

path {
  stroke-dasharray: 382;
  stroke-dashoffset: 382;
  -webkit-animation: dash 4s linear forwards;
          animation: dash 4s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.seeWorkButton {
  color: white;
  text-transform: uppercase;
  background-color: #02a661;
  width: 150px;
  padding: 10px 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
}

.seeWorkButton:hover,
.seeWorkButton:focus {
  color: #02a661;
  background-color: white;
}

.web {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .web svg,
  .developer svg {
    height: 43px;
    width: 340px;
  }
}

@media (max-width: 575px) {
  .jonLogo {
    font-size: 2.2rem;
  }
  .iAmA {
    margin-top: 250px;
  }
}

.navigation {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.navLinks,
.hamburgerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navLinks li,
.hamburgerLinks li {
  margin: 0 10px 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
}

.hamburgerLinks {
  display: none;
  position: absolute;
  right: 10%;
  padding: 10px;
}

.hamburgerLinks li {
  margin: 15px 0;
}

.navLinks a,
.hamburgerLinks a {
  color: white;
  font-size: 2rem;
}

.navLinks a:hover,
.navLinks a:focus,
.hamburgerLinks a:hover,
.hamburgerBars a:focus {
  -webkit-animation: navSpace 0.6s ease forwards;
          animation: navSpace 0.6s ease forwards;
}

@-webkit-keyframes navSpace {
  to {
    letter-spacing: 3px;
  }
}

@keyframes navSpace {
  to {
    letter-spacing: 3px;
  }
}

.jonLogo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

.hamburgerMenu {
  display: none;
}

.hamburgerBars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.top,
.middle,
.bottom {
  width: 50px;
  height: 7px;
  margin-bottom: 5px;
  background-color: #02a661;
  display: block;
  border-radius: 5px;
}

.topAngle {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: hamFadeTop .3s ease forwards;
          animation: hamFadeTop .3s ease forwards;
}

.bottomAngle {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: hamFadeBottom .3s ease forwards;
          animation: hamFadeBottom .3s ease forwards;
}

.middleHide {
  visibility: hidden;
}

.topStraight {
  -webkit-animation: hamStraight .3s ease forwards;
          animation: hamStraight .3s ease forwards;
}

@-webkit-keyframes hamStraight {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hamStraight {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hamFadeTop {
  to {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
  }
}

@keyframes hamFadeTop {
  to {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
  }
}

@-webkit-keyframes hamFadeBottom {
  to {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
}

@keyframes hamFadeBottom {
  to {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
}

@media (max-width: 575px) {
  .navLinks {
    display: none;
  }
  .hamburgerMenu,
  .open {
    display: block;
  }
}

.skillInfo {
  overflow: hidden;
}

.skillsTitle {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
  position: relative;
  text-align: center;
  color: #3b3b3b;
  padding-top: 30px;
}

.skillsTitle span {
  color: #02a6627e;
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  z-index: -1;
}

.skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.skillsIcons p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: 33%;
  margin-bottom: 15px;
  text-align: center;
}

.skillsIcons i {
  color: #02a661;
  font-size: 5rem;
}

@media (max-width: 575px) {
  .skillsIcons p {
    font-size: 1.6rem;
  }
  .skillsIcons i {
    font-size: 3.5rem;
  }
}

.aboutInfo {
  background-image: url("../assets/the-humantra-GD1OKxelNDg-unsplash.jpg");
  background-color: #7a7a7a;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.aboutTriangleTop {
  width: 100%;
  border-right: 100vw solid transparent;
  border-top: 50vh solid white;
}

.aboutTriangleBottom {
  width: 100%;
  border-right: 100vw solid white;
  border-top: 50vh solid transparent;
}

.aboutTitle {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
  padding-top: 30px;
}

.aboutTitle span {
  color: #02a6627e;
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  z-index: -1;
}

.aboutContent {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 50px auto 100px;
}

.projectsTitle {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: #3b3b3b;
  padding-top: 30px;
}

.projectsTitle span {
  color: #02a6627e;
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  z-index: -1;
}

.screenshotContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.screenshotContainer span {
  font-weight: 700;
  text-transform: uppercase;
}

.impuzzible,
.flixmix,
.aisleAttack,
.bookClubReads {
  position: relative;
  width: 300px;
  min-width: 300px;
  border: 2px solid #02a661;
  margin: 20px;
  padding: 10px;
}

.impuzzibleCaption,
.flixmixCaption,
.aisleAttackCaption,
.bCRCaption {
  display: none;
  width: 330px;
  color: white;
  background-color: #02a661;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  position: absolute;
  left: -17px;
}

.aisleAttackCaption {
  top: -60px;
}

.flixmixCaption,
.impuzzibleCaption,
.bCRCaption {
  top: -80px;
}

.impuzzibleCaption::after,
.flixmixCaption::after,
.aisleAttackCaption::after,
.bCRCaption::after {
  content: '';
  border-top: 30px solid #02a661;
  border-left: 165px solid transparent;
  border-right: 165px solid transparent;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.impuzzible:hover > :first-child,
.impuzzible:focus > :first-child,
.flixmix:hover > :first-child,
.flixmix:focus > :first-child,
.aisleAttack:hover > :first-child,
.aisleAttack:focus > :first-child,
.bookClubReads:hover > :first-child,
.bookClubReads:focus > :first-child {
  display: block;
}

@media (max-width: 450px) {
  .projectsTitle span {
    font-size: 6rem;
    top: 13px;
  }
  .impuzzibleCaption,
  .flixmixCaption,
  .aisleAttackCaption,
  .bCRCaption {
    width: 300px;
    left: -2px;
  }
  .impuzzibleCaption::after,
  .flixmixCaption::after,
  .aisleAttackCaption::after,
  .bCRCaption::after {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    position: absolute;
    left: -2px;
    bottom: -30px;
  }
}

.contactTriangleTop {
  border-left: 100vw solid #02a661;
  border-top: 50vh solid white;
  outline: none;
}

.contactInfo {
  background-color: #02a661;
  position: relative;
}

.contactTitle {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  color: white;
  z-index: 0;
  padding-top: 30px;
}

.contactTitle span {
  color: rgba(59, 59, 59, 0.767);
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  z-index: -1;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
  margin-bottom: 20px;
}

.formContainer label {
  color: #3b3b3b;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.leftContactTriangle {
  width: 50%;
  border-left: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  bottom: 0;
}

.rightContactTriangle {
  width: 50%;
  border-right: 50vw solid white;
  border-top: 20vh solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}

.name,
.email,
.message {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.submitButton {
  color: white;
  background-color: #3b3b3b;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
}

.submitButton:hover,
.submitButton:focus {
  color: #3b3b3b;
  background-color: white;
}

@media (max-width: 650px) {
  .name,
  .email,
  .message {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .contactTitle span {
    font-size: 6rem;
    top: 13px;
  }
}

footer {
  margin-top: 30px;
  height: 100px;
  text-align: center;
  color: #3b3b3b;
}

.footerTitle {
  text-transform: uppercase;
}

.craftedBy {
  margin-top: 30px;
  background-color: rgba(75, 75, 75, 0.8);
  color: white;
  padding: 5px 0;
}

footer a {
  font-size: 3rem;
  color: #3b3b3b;
  margin: 0 10px;
}

footer span {
  text-transform: uppercase;
}
